// tshirt view

.view__nav
  margin-top: 1rem

.view__nav--link
  display: inline-block
  text-align: center
  width: 20%

.view__tshirt--flip
  cursor: pointer
  display: block
  padding-right: 1rem
  position: relative
  text-align: right

.view__tshirt--name
  display: block

.view__tshirt--price
  float: right
  text-align: right

.row
  margin: 0 auto
  margin-top: 4rem
  width: 95%

li
  display: inline-block
  list-style: none
